<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'posts' %>
</head>
<body>

<%= yield %>

</body>
</html>
